article{
    margin: 3rem 1rem 1rem 1rem ;
    padding-top: 1rem;
    font-family: "Josefin Sans", sans-serif; 
    backdrop-filter: blur(8px);
    background-color: rgba(113, 204, 225, 0.525);
    top: 3rem;
    border-radius: 10px;
}

article h1{
    text-align: center;
    padding-top:1rem 0 ;
    margin: 1rem 0 ;
    color: white;
    font-size: 2rem;
    text-shadow: 4px 4px 1px rgb(41, 41, 45)
}

article h1 h3{
    margin: 0 auto;
    width: fit-content;
    margin: 1rem;
    

}
article h3{
    margin: 1rem;
    color: white;
    text-shadow: 4px 4px 1px rgb(41, 41, 45)
}

.imagen-nosotros{
    display: block;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 3px rgb(0, 72, 255), -1em 0 .4em rgb(16, 201, 189);  
}

.imagen-nosotros:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}
figcaption{
    text-align: center;
    margin-top: 0.5rem;
}

.contenido-nosotros{
    backdrop-filter: blur(8px);
    background-color: rgba(113, 204, 225, 0.525);
    margin: 1rem;
}

.contenido-nosotros{    
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    color: rgb(1, 30, 124);
    padding: 1rem;
}

@media screen and (max-width: 890px) {
    .imagen-nosotros{
        width: auto;
        min-width: 60%;
    }
}

@media screen and (max-width: 550px) {

    .imagen-nosotros{
        width: auto;
    }
    .contenido-nosotros{    
         font-size: 15px;
}
}