main{
    margin-top: 20px;
}

#main-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 10px;
    margin: 2rem;
  }
  
  .productos {
    background-color: #f0f0f0;
    padding: 10px;
  }
  
  .imagen-producto {
    display: block; 
    margin: 1rem; 
    width: 90%;
    height: 50%;
    padding: 1rem;
    object-fit: contain ;
    object-position: center;
  }

  .titulo{
    font-family: "Josefin Sans", sans-serif;    
    font-style: normal;
    font-weight:bold;
    font-size: 20px;
    margin: 3px;
    padding: 8px;
    color: rgb(155, 5, 230);
  }

 .descripcion{
    max-width: 90%;
    width: 280px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;    
    font-style: normal;
    font-weight:bold;
    font-size: 14px;
    margin: 3px;
    padding: 5px;
    color: rgb(0, 0, 0);

  }

 .valor{
    display: flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;    
    font-weight:bold;
    font-size: 16px;
    margin: 3px;
    padding: 5px;
    color: rgb(255, 37, 37);


 }
 .link{
  display: inline-block;
  background-color:blue;
  font-family: "Josefin Sans", sans-serif;    
  font-size: 12px;
  text-decoration: none;
  margin: 15px;
  padding: 5px;
  color: rgb(255, 255, 255);
 }
 
  @media screen and (max-width: 768px) {
    #main-productos {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }